.addBook {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.inside-addBook {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.btn-back {
  align-self: center;
  border: none;
  color: #FFF;
  background: #3498db;
  padding: 10px 15px;
  font: 500 14px/14px Tahoma;
  cursor: pointer;
}

.content-addBook {
  margin-top: 20px;
}

.title-addBook {
  color: rgba(46, 204, 113, 0.7);
}

.myForm {
  padding: 20px 10px;
  widows: 100%;
}

.myGroup {
  padding-bottom: 15px;
}

.myLabel {
  display: block;
  font: 500 16px/16px Tahoma;
  color: #000;
}

.myInput {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  font: 500 15px/15px Tahoma;
  color: #000;
  border: 1px solid #a09797;
}

.btn-add {
  border: none;
  padding: 10px 20px;
  font: 500 14px/14px Tahoma;
  letter-spacing: 1px;
  background: #3498db;
  color: #FFF;
  margin: 0 2px;
  cursor: pointer;
}
